@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
}
form {
    box-shadow: 2px 2px 2px 2px #0b1659;
    padding: 2em;
    background: #305ad9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 60vw;
}
input {
    display: block;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #18298c;
}
input[type="button"] {
    margin: 2em 0;
    background: #f2b705;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #f28705;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
label {
    padding: 10px;
}
#message {
    color: #f2b705;
}
input:invalid {
    border: 2px solid #f28705;
}
input:valid {
    border: 1px solid transparent;
}
input:focus:invalid {
    outline: none;
}
#message {
    color: #f2b705;
}
#requiredCharacters {
    display: none;
    background: #f1f1f1;
    color: #000;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 1em;
}
.valid {
    color: green;
}
.valid:before {
    padding-right: 1em;
    content: "\2714";
}
.invalid {
    color: red;
}
.invalid:before {
    padding-right: 1em;
    content: "\2716";
}
#passIdent {
    display: none;
}
#errorMessage {
    display: none;
}
#successContainer {
    display: none;
}
#successMessage {
    color: black;
    text-align: center;
}
#successMessage a {
    color: black;
}
#success {
    width: 30%;
}
#successContainer {
    align-items: center;
    flex-direction: column;
}
@media only screen and (max-width: 768px) {
    #success {
        width: 60%;
    }
}